{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
        <form action="{% url 'garmentPicker' %}" method=POST>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Save Order</button>
            <a href="{% url 'cancelOrder' %}"><button type="button">Cancel</button></a>
        </form>
    </div>
    <div>
        {% for garment in garments %}
        <div>
            {{garment.0}}
            <button type="button">
                <a href="{% url 'addCloth' garment.0%}">add new</a>
            </button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}